[submodule "application"]
	path = application
	url = https://github.com/PedalPi/Application
[submodule "webservice"]
	path = webservice
	url = https://github.com/PedalPi/WebService
[submodule "physical"]
	path = physical
	url = https://github.com/PedalPi/Physical